body {
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    font-family: Arial, sans-serif; 
}


.card {
    width: 100%;
    max-width: 380px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.avatar {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.nume {
    font-size: 28px;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}

.locatie {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 25px;
}

.subtitlu {
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 25px;
}


.social-btn {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 15px; 
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; 
    display: block;
    transition: background-color 0.3s ease; 
}

.social-btn:last-child {
    margin-bottom: 0;
}

.social-btn:hover {
    background: hsl(75, 94%, 57%); 
    color: hsl(0, 0%, 12%);
}