body {
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 480px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 16px;
    border: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-top: 20px;
    width: 20%;
    border-radius: 50%;
    
}

.nume{
    font-size:35px;
    font-family: ARIAL;
    color: white;
    margin-top: 40px;
    display:flex;
    justify-content: center;
    font-weight: 600;
}

.locatie{
    font-family: arial;
    color:hsl(75, 94%, 57%);
    display: flex;
    justify-content: center;
    margin-top:10px;
    font-weight: 600;
}

.subtitlu{
    display:flex;
    justify-content: center;
    margin-top: 25px;
    color: white;
    font-family: arial;
    font-weight: 500;
}

.github{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding:20px;
    font-weight: 600;
    border-radius:10px;
}
.github:hover{
    background:hsl(0, 0%, 48%);
}
.frontend{
   width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding:20px;
    font-weight: 600;
    border-radius:10px;
}
.frontend:hover{
    background:hsl(0, 0%, 48%);
}

.linkedin{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding:20px;
    font-weight: 600;
    border-radius:10px;
}

.linkedin:hover{
    background:hsl(0, 0%, 48%);
}

.twitter{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding:20px;
    font-weight: 600;
    border-radius:10px;
}

.twitter:hover{
    background:hsl(0, 0%, 48%);
}

.instagram{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding:20px;
    font-weight: 600;
    border-radius:10px;
}

.instagram:hover{
    background:hsl(0, 0%, 48%);
}